@(addProductForm: play.data.Form[models.Product], user: models.users.User)
@import models._
@import helper._

@(addProductForm: play.data.Form[models.Product], user: models.users.User)

@* helpers will be used to create the form dynamically, though static HTML form element also work. *@

@admin.adminMain("Add Product", user) {
	<h3>Add a new Product</h3>
	
	<!-- Use the views.html.helpers package to create the form -->
	@form(action = routes.AdminController.addProductSubmit(), 'class -> "form-horizontal", 'role->"form", 'enctype -> "multipart/form-data") {
		
		<!-- Build the form, adding an input for each field -->
		<!-- Note the label parameter -->
		@inputText(addProductForm("name"), '_label -> "Name",'class -> "form-control")
		@inputText(addProductForm("description"), '_label -> "Description",'class -> "form-control")

        <!-- Checkboxes for categories - current categories for this product are checked -->
        <!-- Category.options provides a hashmap of value, name pairs -->
        @for((value, name) <- Category.options) {
            <input type="checkbox" name="catSelect[]" value="@value" />@name<br>        
        }

		@inputText(addProductForm("stock"), '_label -> "Stock",'class -> "form-control")
		@inputText(addProductForm("price"), '_label -> "Price",'class -> "form-control")

		<!-- Image upload input -->
		<label>Image</label>
    <input class="btn-sm btn-default" type="file" name="upload">
	
		<br><br>

	<!-- Add a submit button -->
  <div class="actions">
      <input type="submit" value="Add Product" class="btn btn-primary">
			<a href="@routes.AdminController.products(0)"
				<button class="btn btn-warning">Cancel</button>
			</a>
  </div>
	} <!-- End Form definition -->

} <!-- End of page content -->

